.register {
  padding-top: 12vh;
  background-image: url("/images/sunset3.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.register .section-title {
  padding-bottom: 5vh;
}

.register .section-title h2 {
  color: #fff;
  text-shadow: 1px 1px #edf2c4;
}

label {
  color: #fff;
}

.register .form {
  background-color: rgba(0, 0, 0, 0.5);
}

form .row {
  padding-bottom: 3vh;
}

.form-group {
  padding-bottom: 3vh;
}

.row a {
  color: #fff;
}

.btn-brown {
  padding: vh 2vh;
  margin-bottom: 2vh;
}

.error-p {
  color: #fff;
  text-align: center;
  background-color: rgba(200, 0, 0, 0.5);
}
