
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-bicycle-1:before { content: '\e80a'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
